ul {
  list-style-type: none;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 30px;
}

h1 {
  font-size: 38px;
  font-weight: bolder;
  margin-left: 40px;
}

h2 {
  font-size: 32px;
  font-weight: bolder;
  margin-left: 40px;
}